In [1]:
import quiverquant

In [2]:
quiver = quiverquant.quiver("c28eacfdf71675aa0dcad7feaa75eedfff51c547")

In [3]:
dfWSB = quiver.wallstreetbets()

https://api.quiverquant.com/beta/live/wallstreetbets?count_all=true

NameError: Upgrade your subscription plan to access this dataset.

In [9]:
display(dfCongress)

,Ticker,Date,Senator,Transaction,Amount,Party,Range
0,IRT,2022-05-05,"Thune, John",Sale,15001.0,,"$15,001 - $50,000"
1,PYPL,2022-04-29,"Tuberville, Tommy",Sale,50001.0,R,"$50,001 - $100,000"
2,PYPL,2022-04-28,"Tuberville, Tommy",Sale,50001.0,R,"$50,001 - $100,000"
3,PYPL,2022-04-28,"Tuberville, Tommy",Purchase,1001.0,R,"$1,001 - $15,000"
4,LMND,2022-04-22,"Hagerty, Bill",Sale,1001.0,R,"$1,001 - $15,000"
...,...,...,...,...,...,...,...
2565,GD,2020-01-04,"Boozman, John",Sale,1001.0,R,"$1,001-$15,000"
2566,FBHS,2020-01-03,"Boozman, John",Sale,1001.0,R,"$1,001-$15,000"
2567,ENTG,2020-01-02,"Perdue, David",Sale,1001.0,R,"$1,001 - $15,000"
2568,FISV,2020-01-02,"Boozman, John",Sale,1001.0,R,"$1,001-$15,000"
2569,ENTG,2020-01-02,"Perdue, David",Sale,1001.0,R,"$1,001 - $15,000"

In [10]:
dfparty = dfCongress

TypeError: 'DataFrame' object is not callable

In [43]:
dfparty = dfCongress[dfCongress["Party"]=="R"]

In [44]:
display(dfparty)

,Ticker,Date,Senator,Transaction,Amount,Party,Range
1,PYPL,2022-04-29,"Tuberville, Tommy",Sale,50001.0,R,"$50,001 - $100,000"
2,PYPL,2022-04-28,"Tuberville, Tommy",Sale,50001.0,R,"$50,001 - $100,000"
3,PYPL,2022-04-28,"Tuberville, Tommy",Purchase,1001.0,R,"$1,001 - $15,000"
4,LMND,2022-04-22,"Hagerty, Bill",Sale,1001.0,R,"$1,001 - $15,000"
5,ECOM,2022-04-21,"Tuberville, Tommy",Purchase,100001.0,R,"$100,001 - $250,000"
...,...,...,...,...,...,...,...
2565,GD,2020-01-04,"Boozman, John",Sale,1001.0,R,"$1,001-$15,000"
2566,FBHS,2020-01-03,"Boozman, John",Sale,1001.0,R,"$1,001-$15,000"
2567,ENTG,2020-01-02,"Perdue, David",Sale,1001.0,R,"$1,001 - $15,000"
2568,FISV,2020-01-02,"Boozman, John",Sale,1001.0,R,"$1,001-$15,000"
2569,ENTG,2020-01-02,"Perdue, David",Sale,1001.0,R,"$1,001 - $15,000"

In [55]:
dfparty.sort_values(by=['Senator']).groupby('Transaction')

In [23]:
dfparty_dem = dfparty = dfCongress[dfCongress["Party"]=="D"]

In [24]:
display(dfparty_dem)

,Ticker,Date,Senator,Transaction,Amount,Party,Range
8,T,2022-04-08,"Rosen, Jacky",Sale,1001.0,D,"$1,001 - $15,000"
9,T,2022-04-08,"Rosen, Jacky",Sale,1001.0,D,"$1,001 - $15,000"
10,T,2022-04-08,"Rosen, Jacky",Sale,1001.0,D,"$1,001 - $15,000"
11,BDX,2022-04-01,"Rosen, Jacky",Sale,1001.0,D,"$1,001 - $15,000"
61,KWEB,2022-03-17,"Carper, Thomas R.",Sale,1001.0,D,"$1,001 - $15,000"
...,...,...,...,...,...,...,...
2297,BSTZ,2020-02-22,"Carper, Thomas R.",Sale,1001.0,D,"$1,001 - $15,000"
2351,ALLO,2020-02-18,"Feinstein, Dianne",Sale,1000001.0,D,"$1,000,001-$5,000,000"
2363,DLR,2020-02-13,"Whitehouse, Sheldon",Purchase,15001.0,D,"$15,001 - $50,000"
2364,WM,2020-02-13,"Whitehouse, Sheldon",Sale,15001.0,D,"$15,001 - $50,000"
2464,ALLO,2020-01-31,"Feinstein, Dianne",Sale,500001.0,D,"$500,001-$1,000,000"

In [26]:
dfparty_dem.sort_by("Date")

AttributeError: 'DataFrame' object has no attribute 'sort_by'